:root {
    --shadow:#878787;
    --card-title:rgb(255, 200, 0);
    --card-desc:rgb(227, 217, 184);
    --primary:#ffda0a;
    --secondary:rgb(239, 15, 255)0e;
    --darkblue:#000754;
    --nav-bg:#ffff;
    --nav:#ffff;
    --lightblue:#00aaff;
    --background:linear-gradient(131deg, #2f2f2f 0%, #000000 100%);
}

body{
    margin: 0px;
    padding: 0px;

}

/* ---------nav css satrted----------- */
nav{
    position: sticky;
    top: 0px;
    z-index: 10;
}
nav nav-bar{
    display: flex;
    flex-direction: row;
    padding: 0px 20px 0px 20px;
    font-weight: bolder;
    align-items: center;
    border-radius: 15px;
    flex-wrap: wrap;
    color: var(--card-title);
    margin:0px 10px 0px 10px ;
    box-shadow: 0px 4px 8px 0px rgb(30, 0, 74);
    background-color: rgb(18, 0, 60);
    justify-content: space-between;
}
.tabs{
    display: flex;
    padding: 5px 0px 5px 0px;
    margin: 0px;
}
.tabs li{
    margin-right: 20px;
    list-style-type: none;
}
.tabs li:hover{
    color: var(--lightblue);
}
.share:hover{
    color: var(--lightblue);
}

.logo img{
    width: 50px;
    height: 50px;
    object-fit:cover;
    border-radius: 50px 50px;
}

/* -----------nav css ended ------- */

/* ------------container css started------- */
.body-container{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: var(--background);
    background-blend-mode: normal;
}
.container{
    display: block;
    top:0px;
    z-index: 1;
    padding-top: 50px;
    position: relative;
    height:fit-content;
    padding-left: 50px;
    padding-right: 50px;
    background: var(--background);
    background-blend-mode: normal;

}
.detail-container{
        display: flex;
        height: 35rem;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;

}
.detail-container .card-view h1{
    color: var(--card-title);
}
.detail-container .card-view p{
    color: var(--card-desc);
}
.detail-container .profile-img{
    width: 300px;
    height:300px;
    border-radius: 150px 150px;
    box-shadow: 0px 4px 10px 4px rgb(49, 49, 49);
    
}


.bio {
    position: relative;
    display: flex;
    height: 35rem;
    align-items: center;
    justify-content: center;
}

.bio .bgimage{
    width: 100%;
    object-fit: cover;
    height: 40rem;
    filter: blur(1.5px);
}

.bio p{
 
    color: var(--card-title);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
}
.footer{
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    background: var(--background);
    background-blend-mode: normal;
    font-size: 20px;
    color: var(--card-title);

}
.Contact-me{
    width: 20rem;
    text-align:center;
}
.Contact-me .contact-me-icon a{
    color: var(--primary);
    
}
.Contact-me .contact-me-icon a :hover{
    color: var(--lightblue);
    
}
.Contact-me .contact-me-icon i{
    margin-right: 20px;
    font-size: 40px;

}



/* Media query */

@media screen and (max-width: 955px){



    /* container */
    .detail-container{
        padding-top:50px;
        padding-bottom:50px;
        height: fit-content;
        flex-wrap: wrap-reverse;
    }
    
    .detail-container .card-view{
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        align-items: center;
        text-align: center;
    }

   

    .footer{
        flex-direction: column;
        align-items: center;
        
        
    }
    .footer p{
        text-align: center;
    }
    .footer .Contact-me{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

